.workSpace{
    margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr ;
}


.whiteSpace{
position:relative;
cursor: pointer;
width: 300px;
height: 330px;
left: 500px;
background-color: white;
top:100px;
}
